input {
    
    font-size: 14px;
    border-radius: 1rem;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    :hover {
        border-color: #ccc;
    }
    :focus{
        border-color: #9147ff;
        background: #fff;
    }
    
}
                